<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title><%= title%></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>개인맞춤형 주식 알림 시스템</h1>
    <h2>로그인</h2>
    <form action="/login" method="get">
      <h3>기존 회원이시라면 로그인을 해주세요.</h3>
      <div><input type="submit" value="로그인"></div>
    </form>
    <br /><br />
    <h2>회원가입</h2>
    <form action="/sign_up" method="get">
      <h3>처음 방문하셨나요??</h3>
      <h3>2020년 최고의 개인 맞춤형 주식 알림 시스템에 오신걸 환영합니다!</h3>
      <div><input type="submit" value="회원가입"></div>
    </form>
  </body>
</html>
